/* Layout */

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
    background: #000;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */

.circle {
    fill: none;
    stroke: #fff;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #e74c3c;
}

.hour-marks {
    fill: none;
    stroke: #e74c3c;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #2ecc71;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #2ecc71;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #2ecc71;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */

.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */

/* Optional: Use transition for animation. */

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}